@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
.Menu{
    font-family: 'Open Sans', sans-serif ;
    background: #092327;
    list-style: none ;
    padding: 0;
    width: 90%;
    max-width: 1100px;
    


}
.Menu li a{
    text-decoration:none ;
    color: white;
    padding: 20px;
    display: block;
    justify-content: space-around;
    
    
}
.Menu li{
    display: inline-block;
    text-align: center ;
    
    
}
.Menu li a:hover{
    background: #f5be09; 
    

}

.Menu li{
    display: inline-block;
    text-align: center ;
    
}
.Menu li a:hover{
    background: #f5be09; 
}
.nav > li{

    display: block;}

.nav li {
    display:none;
    position: absolute;
    background: #092327;
    width: 100%;
}
.nav li a {
    color: white;
    padding: 20px;
    display: block;
    justify-content: space-around;
    
    text-decoration: none;}


    
    
    


body{
    background-image:url(./Fondo\ Formulario.png-) ;
    

}

.Form-Register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Open Sans', sans-serif;
    color: white;
    box-shadow: 7px 13px #000;

}
.Form-Register h4 {
    font-size: 22px;
    margin-bottom: 20px;

}
.Controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
}
.Form-Register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.Form-Register a {
    color:white;
    text-decoration: none;
}
.Form-Register a:hover{
    color:white
   
}
.Form-Register .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

body {
    background-color:rgb(223, 213, 213);
}




